.main{
    /* to hide the scrollbar */
    -ms-overflow-style: none;
    position: relative;

}

.main::-webkit-scrollbar {
    display: none;
}

.banner{
    position: fixed;
    background: #fff;
    z-index: 1;
}

.icon_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.login-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    height: 100vh;
    background: #F4F8F9;
}

.instructions-wrapper{
    
}

.login-form{
    color: white;
}

.instructions{
    background-color: #EBF4FF;
    border-radius: 5px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.instruction-text-primary{
    color: #4DA1FF;
    font-weight: bold;
    margin: 0px;
}

.instructions-text-secoundary{
    margin: 0px;
    color: #808FA3;
    font-weight: lighter;
}

.login-instruction-main-gradient{
    height:100%;
    width:100%;
    background-image: linear-gradient(50deg, #4DA1FF 0%, #0A78FF 93%);
    position:absolute;
    top:0;
    left:0;
    z-index: -10;
}

.login-wallpaper{
    position:absolute;
    height: 100%;
    opacity: 0.14;
    z-index: -5;
}

.login-instruction-main{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: 0;
}