.your-current-system-text-f{
  font-family: Sailec-Medium;
  font-size: 11px;
  color: #323C47;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.project_text_f{
  font-family: Sailec-Medium;
  font-size: 11px;
  color: #323C47;
  letter-spacing: 0.1px;
}

.faculty-main{
    /* to hide the scrollbar */
    -ms-overflow-style: none;
    position: relative;
    width:100vw;
}

.faculty-main::-webkit-scrollbar {
    display: none;
}

.navigation_mobile{
    position: fixed;
    bottom: 0px;
    width:100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    position: fixed;
    top: 0px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7vh;
}

.icon_wrapper{
    
}

.navigation{
    width: 95%;
    height: 80%;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100000;
}

.navigation_button{
    width:20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100vh;
    padding-top: 7vh;
}

.toggle_search_wrapper_x{
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.drawer_toggle_home_f{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    width: 30px;
}



.search_input_f{
  width: 95%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border:0px;
  font-family: Sailec-Medium;
  font-size: 16px;
  color: rgba(152,152,152,0.50);
  letter-spacing: 0;
  line-height: 26px;
}

.search_input_f:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.font30{
    font-size: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar_content{
      padding-left: 20px;
  }

  .currentSystem{
      display: flex;
      flex-direction: column;
  }

  .currentSystem_content_f{
        margin-top: 10px;
        padding:10px;
        display: inline;
        border: 1px solid #E9EFF4;
        width:70vw;
        border-radius: 5px;
  }

  .change_position{
        padding:5px 10px;
        background: #F5F8FA;
        color: #99A2AC;
        text-align: center;
  }

  .current_system_title{
    display: block;
    text-transform: uppercase;
    font-family: Sailec-Medium;
    font-size: 12.5px;
    color: #323C47;
    letter-spacing: 0;
  }

  .current_system_position_name{
    display: block;
    margin-top: 7px;
    font-family: Sailec-Light;
    font-size: 12px;
    color: #323C47;
    letter-spacing: 0.11px;
  }

  .change_position_text_f{
    font-family: Sailec-Medium;
    font-size: 11px;
    color: #99A2AC;
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }

  .other_system_title{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }

  .otherSystem_content{
    margin-top: 10px;
    padding:10px;
    display: inline;
    border: 1px solid #E9EFF4;
    width:70vw;
    border-radius: 5px;
  }
  
  .folderIconContainer{
    padding-left: 5px;
    padding-right: 5px;

  }

  .otherSystemTitle{
    padding-left: 5px;
    padding-right: 5px;
    font-family: Sailec-Medium;
    font-size: 13px;
    color: #323C47;
    letter-spacing: 0;
  }

  .card_rank{
    border: 1px solid #E9EFF4;
    border-radius: 5px;
  }

  /** 
    Home Screen
  */

  .project_result{
    padding: 10px;
    margin-top: 20px;
  }

  .report_result{
    padding: 10px;
  }

  .project_result_container{
      margin-top: 15px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .project{
      display:inline;
      margin-right: 5px;
      padding: 10px;
      
  }
  .project-title-text-f{
    margin-top: 10px;
    font-family: Sailec-Medium;
    font-size: 12px;
    color: #323C47;
    letter-spacing: 0.11px;

  }
  .project-leader-text-f{
    font-family: Sailec-Medium;
    font-size: 10px;
    color: #989898;
    letter-spacing: 0.09px;
  }
  .reports_result_container{
      margin-top: 15px;
      overflow: scroll;
      margin-bottom: 5vh;
  }
  .report_x{
      padding:10px;
      margin-bottom: 10px; 
      display: flex;
      flex-direction: column;
  }

  .report-wrapper-xzx{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .report-project-img{
      margin-right: 10px;
  }

  .report-description{
      display: flex;
      flex-direction: column;
  }

  .report_status_pending{
      position: absolute;
      height: 10px;
      width:10px;
      border-radius: 5px;
      background-color: #4DA1FF;
      top: 0px;
      right: 0px;
  }

  .report-project-name-text-f{
    font-family: Sailec-Bold;
    font-size: 12px;
    color: #323C47;
    letter-spacing: 0.11px;
  }

  .report-project-name-text-f-date{
    font-family: Sailec-Medium;
    font-size: 10px;
    color: #DCE0E5;
    letter-spacing: 0.07px;
  }

  .report-leader-name-text-f{
    font-family: Sailec-Medium;
    font-size: 9px;
    color: #989898;
    letter-spacing: 0.08px;
  }
  .report-description-text-f{
    font-family: Sailec-Medium;
    font-size: 11px;
    color: #323C47;
    letter-spacing: 0.1px;
  }

  .faculty_search_toggle{
    background: #F5F8FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height: 40px;
  }

  .search-field-container-f{
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }

  .search_field-fs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    height: 44px;
}

  .search_active_toggle_f{
    font-family: Sailec-Medium;
    font-size: 8px;
    color: #323C47;
    letter-spacing: 0;
    background-color: #fff;
    background: #FFFFFF;
    border: 1px solid #E9EFF4;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
    border-radius: 3px;
    height: 30px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    text-align:center;
  }

  .search_inactive_toggle_f{
    opacity: 0.45;
    font-family: Sailec-Medium;
    font-size: 8px;
    color: #989898;
    letter-spacing: 0;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    text-align:center;
  }

input:focus, textarea:focus, select:focus{
  outline: none;
}

.main-tablet{
  display:none
}

.left-navigation-options{

}

.desktop-home-select-system-f{
  background: #FFFFFF;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
  border-radius: 6px;
  margin:20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width:280px;
  display: none;
  margin-right: 0px;
}

.xvxbx{
  width: 100%;
}


@media (min-width: 768px){
  .faculty-main{
    display: none;
  }

  .main-tablet{
    display: block;
  }

  .xvxbx{
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
    border-radius: 6px;
    margin:20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width:570px;
    padding-right: 20px;
  }


  .toggle_search_wrapper_x{
    margin: 0px;
    padding: 0px 20px;
  }
}

@media (min-width: 1151px){
  .desktop-home-select-system-f{
    display: block;
  }

  .toggle_search_wrapper_x{
    padding-left: 0px;
    padding-right: 0px;
  }

  .drawer_toggle_home_f{
    display: none;
  }

  .search_input_f{
    padding-left: 0px;
  }

  .currentSystem_content_f{
    width: 256px;
  }
}