
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar_content{
      padding-left: 20px;
  }


.report-details-f{
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10vh;
    padding:20px;
}

.report_title{
   
}

.report_date{
   
}

.report-head{
    margin-top: 30px;
}

.report_title_key{
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
    margin-top: 5px;
    font-family: Sailec-Medium;
    font-size: 17.5px;
    color: #323C47;
    letter-spacing: 0;

}

.report_title_value{
    padding-left: 20px;
    margin-top: 5px;
    font-family: Sailec-Medium;
    font-size: 17.5px;
    color: #323C47;
    letter-spacing: 0;
}

.report-content-deader-f{
    font-family: Sailec-Medium;
    font-size: 13.5px;
    color: #323C47;
    letter-spacing: 0;
}

.card_rank{
    border: 1px solid #E9EFF4;
    border-radius: 5px;
}

.card_inner_rank{
    border-bottom: 1px solid #E9EFF4;
    padding: 15px;
}

.description-content-f{
    padding: 15px;
    background-color: #F5F8FA;
    font-family: Sailec-Medium;
    font-size: 14.5px;
    color: #323C47;
    letter-spacing: 0;
}

.report-attachement{

}

.mt20{
    margin-top: 20px;
}

.mt10{
    margin-top: 10px;
}

.report-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action_approve_btn{
    background-color:#97C66B;
    border-radius: 5px;
    font-size: 9px;
    padding:10px;
    color: #fff;
    font-family: Sailec-Medium;
font-size: 13px;
color: #FFFFFF;
letter-spacing: -0.16px;
}

.action_change_btn{
    background: #FFD012;
    border-radius:5px;
    font-size: 9px;
    color: #fff;
    padding:10px;
    font-family: Sailec-Medium;
font-size: 13px;
color: #FFFFFF;
letter-spacing: -0.16px;
}

.action_disapprove_btn{
    background: #FC577A;
    border-radius:5px;
    font-size: 9px;
    color: #fff;
    padding:10px;
    font-family: Sailec-Medium;
font-size: 13px;
color: #FFFFFF;
letter-spacing: -0.16px;
}

.bg_primary{
    background-color: #4DA1FF;
}

.reason_input{
    width:100%;
    height: 40px;
    border-radius: 5px;
    border:0px;
    padding-left: 10px;
    margin-right: 10px;
}

.action-input-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.table-head{
    background-color: #fff;
    padding:10px
}

.position-status{
    padding:10px;
    background-color: #F5F8FA;
}

.table-head-text{
    font-weight: normal;
    padding:10px;
    text-align: center;
    font-size: smaller;
    border-left: 2px solid #F5F8FA;
    border-bottom: 2px solid #F5F8FA;
    font-family: Sailec-Medium;
    font-size: 13.5px;
    color: #323C47;
    letter-spacing: 0;
}

.table-status-text{
    padding:10px;
    text-align: center;
    font-size: smaller;
    border-left: 2px solid #F5F8FA;
    font-family: Sailec-Medium;
    font-size: 13.5px;
    color: #323C47;
    letter-spacing: 0;
}

.report-status-table{
    border-collapse: collapse;
    border: 1px solid #F5F8FA;
    width: 100%;
    overflow: hidden;
}

.toggle-button{
    padding: 10px;
    background-color: #4DA1FF;
    color: white;
    border-radius: 5px;
    font-size: smaller;
}

.report-search-input-f{
    background: #F5F6F9;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.report-search-element-f{
    background: #F5F6F9;
    font-family: Sailec-Light;
    font-size: 14px;
    color: #999898;
    letter-spacing: 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border:0px;
    padding-right: 10px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.report-search-result-list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.report-description{
    padding: 5px 10px;
}

.report-result-title-text-f{
    font-family: Sailec-Medium;
    font-size: 13.5px;
    color: #323C47;
    letter-spacing: 0;
}

.report-result-date-text-f{
    font-family: Sailec-Medium;
    font-size: 9px;
    color: #989898;
    letter-spacing: 0.08px;
}

.f-reports-main-text{
    font-family: Sailec-Medium;
    font-size: 11px;
    color: #323C47;
    letter-spacing: 0.1px;
}

.sidebar_content{
    padding-left: 20px;
    padding-right: 20px;
}

.desktop-faculty-report-search{
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
    border-radius: 6px;
    width:270px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: none;
    padding: 20px;
}

@media (min-width: 768px){
    .report-details-f{
        background: #FFFFFF;
        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
        border-radius: 6px;
        width:570px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        overflow: scroll;
    }
}

@media (min-width: 1151px){
    .toggle_select_report{
        display: none;
    }
    .desktop-faculty-report-search{
        display: inline;
    }
}